.x-form-readonly{
	color: black;
}
.x-form-readonly input{
	color: gray;
}
.x-form-readonly textarea{
	color: gray;
}
.x-grid-row .x-grid-cell{
	font-size: 12px;
}
.ext-grid-icon-cls{
	height: 26px;
}
.x-btn-default-toolbar-small .x-btn-inner{
	font-size: 12px;
}
.x-btn-default-small .x-btn-inner{
	font-size: 12px;
}
.x-column-header{
	font-size: 12px;
}
.x-column-header-inner{
	line-height: 18px;
}
.x-menu-item-text{
	font-size: 12px;
}
.x-panel-header-text-default{
	font-size: 15px;
	line-height: 28px;
}
.x-panel-header-text-default-framed{
	font-size: 15px;
	line-height: 28px;
}
.x-tab-inner{
    font-size: 12px;
}
.x-window-header-default{
	font-size: 15px;
}
.x-window-header-text-default{
	font-size: 15px;
	line-height: 30px;
	padding-left: 10px;
}

.x-toolbar .x-toolbar-text {
	font-size: 12px;
}
.x-fieldset-header {
	font-size: 12px;
}
.x-toolbar {
	font-size: 12px;
}
.x-grid-row .x-grid-cell-special{
	background-color: transparent;
	background-image: none;
}
.x-grid-row-selected .x-grid-cell, .x-grid-row-selected .x-grid-rowwrap-div{
	border-style: solid;
	border-color: #ffffff;
}
.x-form-field, .x-form-display-field{
	font: normal 12px tahoma,arial,verdana,sans-serif;
}
.x-form-readonly {
	color: #ffffff;
}
.x-boundlist-item{
	font-size: 12px;
	line-height: 18px;
}