body {
	position: relative;
	width: 100%;
	height: auto;
	text-align: center;
	padding: 0;
	margin: 0;
	font-family: 微软雅黑;
	background: transparent url(../images/bg/bg_body.png) repeat scroll 0 0;
}

#center_div {
	position: relative;
	width: 100%;
	height: auto;
	border: none;
	padding: 0 0 0 0;
	margin: 0 auto 0 auto;
}
#logo_div{
	position: relative;
	width: 561px;
	height: 71px;
	padding: 0 0 0 0;
	margin: 8% auto 0 auto;
	text-align: left;
	background: transparent url(../images/icon/head.png) repeat scroll 0 0;
}
#logo_version_div{
	float: left;
	width: 561px;
	height: 12px;
	line-height: 12px;
	text-align: left;
	font-size: 12px;
	color: #ffffff;
	margin: 12px 0 0 505px;
}
#login_div {
	position: relative;
	width: 660px;
	height: 380px;
	padding: 0 0 0 0;
	margin: 10px auto 0 auto;
	text-align: left;
	background: transparent url(../images/bg/bg_login_form.png) repeat scroll 0 0;
}

/* 用户名 */
#login_username_div {
	position: absolute;
	top: 65px;
	left: 155px;
	width: 350px;
	height: 45px;
	border-bottom-color: #0080bc;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	background-color: transparent;
}
#login_username_error_div{
	position: absolute;
	display: none;
	top: 120px;
	left: 155px;
	width: 350px;
	height: 20px;
	margin: 0;
	padding: 0 0 0 15px;
}
#login_password_div {
	position: absolute;
	top: 160px;
	left: 155px;
	width: 350px;
	height: 45px;
	border-bottom-color: #0080bc;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	background-color: transparent;
}
#login_password_error_div{
	position: absolute;
	display: none;
	top: 215px;
	left: 155px;
	width: 350px;
	height: 20px;
	margin: 0;
	padding: 0 0 0 15px;
}

/* 记住用户名 */
#remeber_user_div {
	position: relative;
	display: none;
	top: 180px;
	left: 105px;
}

/* 登录按钮 */
#login_button_div {
	position: relative;
	top: 250px;
	left: 155px;
	width: 350px;
	height: 55px;
	padding: 0;
	margin: 0;
	cursor: pointer;
	background-color: #355e7b; 
	border:1px solid #52748e; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	opacity: 0.5;
}
#login_button_div span{
	float: left;
	width: 350px;
	color: #7cd5ff;
	font-size: 25px;
	font-weight: bold;
	line-height: 55px;
	text-align: center;
	vertical-align: middle;
	opacity: 1;
}
#login_button_div:HOVER {
	background-color: #2878b1; 
}
#login_button_div:HOVER span{
	color: #ffffff;
	opacity: 1;
}
#login_button_div:ACTIVE {
	background-color: #1492ed;
}

/* 标题 */
.login_item_title{
	position: relative;
	float: left;
	width: 120px;
	margin: 0;
	padding: 0;
}
.login_item_title span{
	float: left;
	margin: 7px 0 0 25px;
	color: #7cd5ff;
	font-size: 22px;
	font-weight: bold;
	text-align: left;
}
/* 错题提示 */
.login_item_error span {
	width: 350px;
	height: 15px;
	margin: 37px 0 0 0;
	padding: 0 0 0 10px;
	border: none;
	color: #d66f04;
	font-size: 15px;
	text-align: left;
}
/* 输入框 */
.textfield_div {
	position: relative;
	float: left;
	width: 230px;
	height: 50px;
}

/* 输入框 - input输入框 */
.textfield_input,.textfield_input:HOVER,.textfield_input:ACTIVE,.textfield_input:VISITED,.textfield_input:FOCUS {
	position: absolute;
	width: 210px;
	height: 37px;
	margin: 0 0 0 0;
	padding: 0 0 0 10px;
	border: none;
	color: #7cd5ff;
	font-size: 22px;
	text-align: left;
	line-height: 37px;
	vertical-align: middle;
	background-color: transparent;
}

.textfield_input:HOVER,.textfield_input:ACTIVE,.textfield_input:VISITED,.textfield_input:FOCUS {
}

/* 输入框 - 背景提示语言 */
.textfield_tip_center {
	position: absolute;
	width: 250px;
	height: 37px;
	margin: 0 0 0 0;
	padding: 0 0 0 10px;
	border: none;
	color: #5087a7;
	font-size: 15px;
	font-weight: bold;
	text-align: left;
	line-height: 37px;
	vertical-align: top;
}

/* 输入框 - 下面提示语言 */
.textfield_tip_bottom {
	position: absolute;
	display: none;
	width: 350px;
	height: 15px;
	margin: 37px 0 0 0;
	padding: 0 0 0 10px;
	border: none;
	color: #ffbc2b;
	font-size: 12px;
	text-align: left;
}

/* 复选框 */
.checkbox_div,.checkbox_div_pressed {
	width: 103px;
	height: 19px;
	padding: 0 0 0 30px;
	margin: 0;
	border: none;
	color: #9B9B9B;
	font-size: 20px;
	text-align: left;
	line-height: 23px;
	vertical-align: top;
	cursor: pointer;
}

.checkbox_div {
	background: transparent url(../images/bg/checkbox_normal.png) no-repeat scroll 0 0;
}

.checkbox_div_pressed {
	background: transparent url(../images/bg/checkbox_pressed.png) no-repeat scroll 0 0;
}